.repo {
    padding: 24px 56px 24px 32px;
    margin-top: 24px;
}

.repo:first-child {
    margin-top: auto;
}

.repo__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.repo__title a {
    color: #0064EB;
    text-decoration: none;
}

.repo__subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-top: 16px;
}

@media (max-width: 800px) {
    .repo__title {
        font-size: 18px;
        line-height: 20px;
    }

    .repo__subtitle {
        font-size: 13px;
        line-height: 15px;
        margin-top: 10px;
    }

    .repo {
        padding: 20px 40px 20px 25px;
        margin-top: 15px;
    }
}

@media (max-width: 585px) {
    .repo__title {
        font-size: 14px;
        line-height: 20px;
    }

    .repo__subtitle {
        font-size: 11px;
        line-height: 15px;
        margin-top: 5px;
    }

    .repo {
        padding: 10px 20px 10px 10px;
        margin-top: 5px;
    }
}

@media (max-width: 455px) {
    .repo__title {
        font-size: 10px;
        line-height: 20px;
    }

    .repo__subtitle {
        font-size: 8px;
        line-height: 15px;
        margin-top: 5px;
    }

    .repo {
        padding: 5px 5px 5px 5px;
        margin-top: 5px;
    }
}