.container {
    margin: 28px 0 0 87px;
}

.errorContainer {
    width: 100vw;
}

.repos__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
}

.repos {
    margin-top: 29px;
}

.repos__empty {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 72px);
}

.repos__img {
    width: 76px;
    height: 62px;
    margin: 0 auto;
}

.repos_img img {
    width: 100%;
}

.repos__errorTitle {
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    color: #808080;
    width: 100%;
    margin-top: 48px;
}

@media (max-width: 800px) {
    .repos__title {
        font-size: 25px;
        line-height: 120%;
    }

    .container {
        margin: 28px 0 0 20px;
    }
}

@media (max-width: 585px) {
    .repos__errorTitle {
        font-size: 16px;
    }   

    .repos__title {
        font-size: 20px;
    }

    .repos {
        margin-top: 20px;
    }
}

@media (max-width: 455px) {
    .repos__title {
        font-size: 15px;
    }

    .container {
        margin: 28px 0 0 15px;
    }

    .repos {
        margin-top: 10px;
    }
}