.selectedPage {
    align-items: center;
    padding: 2px 6px;
    width: 21px;
    height: 25px;
    background: #0064EB;
    border-radius: 3px;
    color: white;
}

.paginator__container {
    display: flex;
    justify-content: flex-end;
    margin: 24px 69px 28px 0;
}

.paginator__description {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    color: #808080;
}

.paginator__pages {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #808080;
}

.paginator__pages span {
    margin-left: 22px;
}